<div class="container-fluid mt-5 p-0 w-100">
    <div class="w-100 ">
        <div class="row bg-purple-deg-1 mx-auto" style="width: 100%; height: 500px">
            
            <div class="col w-100 h-100 p-0 ">
                <img src="../../../../assets/Landing-Page/Writing.webp" class="w-100 h-100" alt="Writing">
            </div>
            <div class="col-8 basi column__basis-75 my-auto"  >
                <div class=" w-50 text-center d-flex flex-column justify-content-around mx-5 mx-auto">
                    <h1 class="text-yellow fs-2">Te ofrecemos la capacidad de crear tu sitio web de una manera sencilla</h1>
                   
                    <span>
                        <h2 class="text-yellow mt-5">
                            Puedes explorar en nuestras empresas asociadas y comprar el producto que desees
                        </h2>
                        <button [routerLink]="[ '/clients' ]" class="mt-2 btn btn-yellow btn-sm">Explorar</button>
                    </span>
                </div>  
            </div>


        </div>
    </div>
</div>
