<div class="container-fluid">
    <div class="row list-container rounded">
        <ng-container [ngSwitch]="type">
            <ng-container *ngSwitchCase="'images'" [ngTemplateOutlet]="images"></ng-container>
            <ng-container *ngSwitchCase="'videos'" [ngTemplateOutlet]="videos"></ng-container>
            <ng-container *ngSwitchDefault [ngTemplateOutlet]="generic"></ng-container>
          
        </ng-container>
       
        <ng-template #images>
            <div  *ngFor="let file of files"
             class="border border-dark border-opacity-10 col-2 file-container m-3 ng-star-inserted p-2 rounded text-center ">
                <div class="text-center d-flex justify-content-center text-center">
                    <img [src]="url + file.fileName" [alt]="file.name" 
                        style="max-height: 200px; max-width: 200px; min-height: 80px; min-width: 80px;"
                    > 
                 </div>
                <ng-container  [ngTemplateOutlet]="buttons" [ngTemplateOutletContext]="{file:file}"></ng-container>     
            </div>
        </ng-template>

        <ng-template #videos>
            <div  *ngFor="let file of files" 
            class="border border-dark border-opacity-10 col-2 file-container m-3 ng-star-inserted p-2 rounded text-center ">
                <div>

                    <video height="100%" width="100%" controls>
                        <source [src]="url + file.fileName" type="video/mp4">
                    
                      Your browser does not support the video tag.
                    </video>   
                </div>
                <ng-container  [ngTemplateOutlet]="buttons" [ngTemplateOutletContext]="{file:file}"></ng-container>     

            </div>
        </ng-template>

        <ng-template #generic>
           <div *ngFor="let file of files" 
           class="border border-dark border-opacity-10 col-2
            file-container m-3 ng-star-inserted p-2 rounded text-center">
                <div>
                    <i class="fa fa-solid fa-5x {{iconGeneric(file.name)}}" aria-hidden="true"></i>

                </div>
                <ng-container  [ngTemplateOutlet]="buttons" [ngTemplateOutletContext]="{file:file}"></ng-container>     
                
           </div>
        </ng-template>

        <ng-template #buttons let-file='file'>
            <div class=" border border-end col-12 mx-auto my-2 ng-star-inserted p-3 rounded text-break">
                <label >
                    <span class="fs-5 fw-semibold text-deg-purple-1">Nombre:</span>
                     <span class="fs-6 fw-semibold file-description"> {{file.name}}</span>
                </label>
                <label >
                    <span class="fs-5 fw-semibold text-deg-purple-1">description:</span> 
                    <span class="fs-6 fw-semibold file-description">{{file.description}}</span>
                </label>
            </div>
            <div class="my-2">
                <button (click)="editFile(file)" class="btn btn-primary me-3">Editar</button>
                <button (click)="deleteFile(file)" class="btn btn-danger">Eliminar</button>
            </div>
         </ng-template>

         
    </div>
</div>