.form-edit{
    width: 700px;
    
    input,select{
        text-align: center;
    }
}

.btn-fa{
    display:contents;
    border: 0px;
    width: 100px;
    height: 10px;
    font-size: 5rem;
    
}