<div class="m-5" >  
    <h1 class="text-center"> Usuarios</h1>
    <div class="bg-light rounded">
        <mat-divider class="mb-5"> </mat-divider>
        <div class="d-flex justify-content-center mb-5">
            <span class=" buttonsContainer text-deg-purple-1">
                <button [routerLink]="[ '../add-user']"><i class="fa fa-solid fa-circle-plus"></i></button>
                <!-- Filtro -->
                <!-- <button><i class="fa fa-solid fa-filter" aria-hidden="true"></i></button> -->
                <button><i class="fa fa-solid fa-search" aria-hidden="true"></i></button>
            </span>
        </div>
    </div>
 
    <div class="container w-100">
        <div class="row">
            <div class="col-12 col-md-4 col-sm-6 col-xl-4 mb-3 pe-sm-3 text-break" *ngFor="let user of users">
                <mat-card  class="avatar-card h-100 break-word">
                    <mat-card-header class="justify-content-center wrap" >
                      <div mat-card-avatar class="avatar-header-image" [ngStyle]="{
                        'background-image': 'url(' + noImage + ')', 
                        'background-size': 'cover'
                    }"></div>
                      <mat-card-title>{{user.userName}}</mat-card-title>
                      <mat-card-subtitle>{{user.type}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="ms-4 avatar-card-information break-word">
                        <p class="avatar-card-mail"><span>Correo: </span>{{user.email}} </p>
          
              
                        <p class="avatar-card-password"><span>Contraseña: </span>{{user.password}}</p>
                    </mat-card-content>
                    <mat-card-actions class="MathbuttonsContainer text-deg-purple-1 d-flex justify-content-center">
                        <button (click)="editUser(user)"><i class="fa fa-solid fa-pen-to-square" aria-hidden="true"></i></button>
                        <button  (click)="deleteUser(user)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </mat-card-actions>
                  </mat-card>
            </div>
        </div>
    </div>
</div>
