<div class="background background-back ">
    <div class="background background-transparent-black d-flex justify-content-center align-items-center">  

        <div class="d-flex flex-column gap-3">
            <h1 class="text-white text-center">
                ¿Cómo desea registrarse?
            </h1>
            <button (click)="navigatedTo('registry/business')" class="btn btn-purple">Empresa</button>
            <button [routerLink]="['client']" class="btn btn-purple">Cliente</button>
        </div>

     </div>
</div>


