<div class="background background-back ">
    <div class="background background-transparent-black d-flex justify-content-center align-items-center">  
        <form [formGroup]="myForm" autocomplete="off" (ngSubmit)="register()">
            <div class="form-login mx-auto  p-3 rounded text-center text-white">
                <div class="d-flex mt-4">
                    <div class="mb-3 pb-3">
                      <img src="../../../assets/Logo V3.png" [routerLink]="['/']" class="cursor-pointer" routerLinkActive="router-link-active"  alt="" width="100px" >
                    </div>
                    <h1 class="fs-2 mb-4 ms-5">Registro</h1>
                  </div>
                <mat-form-field appearance="legacy" color="accent">
                    <mat-label >Nombre</mat-label>
                    <input matInput placeholder="" formControlName="userName">
                    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                    <mat-hint *ngIf="fieldNotValid('userName')" class="form-label form-text text-danger">El campo no es valido </mat-hint>                   

                </mat-form-field>
                
                <mat-form-field appearance="legacy" color="accent">
                    <mat-label >Correo</mat-label>
                    <input matInput placeholder="" formControlName="email">
                    
                    <mat-hint *ngIf="fieldNotValid('email')" class="form-label form-text text-danger">El campo no es valido </mat-hint>                   
                    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                
                </mat-form-field>


                <mat-form-field appearance="legacy" color="accent" class="lastInput">
                    <mat-label>Contraseña</mat-label>
                    <input  [type]="hide ? 'password' : 'text'" type="password" matInput formControlName="password">
                    <mat-icon class="me-2" matPrefix>lock</mat-icon>
                    <button mat-icon-button matSuffix (click)="hide = !hide" type="button" >
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint *ngIf="fieldNotValid('password')" class="form-label form-text text-danger">El campo no es valido </mat-hint>                   

                </mat-form-field>

                <p>
                    <button type="submit" class="btn btn-purple text-white mt-4 " [ngClass]="{'disabled': myForm.invalid}">Registrarse</button>
                </p>

                <p class="mt-4">
                ¿Ya tienes un cuenta? <a [routerLink]="['/auth/login']" style="color:#4F72CD">Inicia Sesion</a>
                </p>
            </div>
        </form>        
    </div>
</div>


