.plains__card{
    min-height: 450px;
    max-height: auto;

    &--h50{
        min-height: 50px;
    }

    &--h60{
        min-height: 60px;
    }

    &--h70{
        min-height: 70px;
    }

    &--h80{
        min-height: 80px;
    }

    &--h100{
        min-height: 100px;
    }
    
}

.text-justify{
    text-align: justify;
    text-justify: inter-word;
}

.fw-bold{
    font-weight:500 !important;
}