<nav class="navbar navbar-expand-lg bg-purple-deg-1">

    <div class="container-fluid">
        <div class="ms-5 logo">
            <img src="../../../../assets/Logo V3.png" [routerLink]="['/landing-page']" class="h-100 w-100" alt="logo.png">
        </div>

        <div class="options">
            <div class="ms-5 logo-option">
                <img src="../../../../assets/clients/store.png" class="h-100 w-100" alt="logo.png" (click)="navegate('companies')">
            </div>
            <div class="ms-5 logo-option">
                <img src="../../../../assets/clients/car_shopping.png" class="h-100 w-100" alt="logo.png" (click)="navegate('car_shopping')">
            </div>
            <div class="ms-5 logo-option">
                <img src="../../../../assets/clients/tag-price.png" class="h-100 w-100" alt="logo.png" (click)="navegate('historical')">
            </div>
            <div class="ms-5 logo-option">
                <img src="../../../../assets/clients/user.png" class="h-100 w-100" alt="logo.png">
            </div>
        </div>

    </div>
</nav>