/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '../src/styles/_tables';

$deg-purple-1:280deg, rgba(253,9,68,1) 0%, rgba(170,49,128,1) 48%, rgba(204,16,106,1) 100%;


.bg-purple-deg{
    &-1{
        background: rgb(112,7,75);
        background: linear-gradient(27deg, rgba(112,7,75,1) 21%, rgba(170,14,123,1) 60%, rgba(144,2,105,1) 100%);
    }

    &-2{
        background: rgb(253,9,68);
        background: linear-gradient(286deg, rgba(253,9,68,1) 0%, rgba(170,49,128,1) 48%, rgba(204,16,106,1) 100%);
    }
}

// Texto
.text{
    &-yellow{
        color: #D9CF77  
    }

    &-white{
        color: white;
    }
    
    &-purple{
        color: #942C70;
    }

    &-pink{
        color:#F0A6E0
    }

    &-deg-purple{
        &-1 {
            color: #aa3180;
            background: -webkit-linear-gradient($deg-purple-1);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

// Background
.bg{
    &-yellow{
        background-color: #D9CF77  
    }

    &-white{
        background-color: white;
    }
    
    &-purple{
        background-color: #942C70;
        
    }

    &-transparent{
        background-color: transparent;
    }


}


// Botones
.btn{

    &-purple{
        background-color: #AA3180;
        &:hover{
            background-color: #a1317a;
        }
    }
}



.column__basis-75{
    flex-basis: 60%;
}



html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: var(--font-family);
    background-color: var(--surface-b);
}
/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.row > * {
    padding: 0 ;
}


//  Contenedor Botones


.buttonsContainer{
    width: 200px;
    height: 60px;
    text-align: center;
    border: {
      image-slice: 1;
      image-source: linear-gradient(to left, #743ad5, #d53a9d);
      width:3px;
      style:solid;     
    };
    button{
        display: contents;
        .fa{
            padding: 10px 0px 0px 0px;
            font-size: 35px;
            margin: 0 10px 0 10px;
        }
        
        &:disabled .fa{
          
            background-color: #9a2d75 !important;
            opacity: 0.7;
            background-clip: text!important;
            -webkit-text-fill-color: transparent !important;
        }
    }
}

