.form{
    width: 700px;
    

    input,select{
        text-align: center;
    }
}

.btn-fa{
    display:contents;
    border: 0px;
    width: 100px;
    height: 10px;
    font-size: 5rem;
    
}




.file-upload + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.file-upload:focus + label,
.file-upload + label:hover {
    background-color: red;
}
