<div class="container-fluid mt-5 p-0 w-100">
    <div class="w-100 ">
        <div class="row bg-purple-deg-1 mx-auto" style="width: 100%; height: 500px">
            <div class="col-8 basi column__basis-75 my-auto"  >
                <div class=" w-50 text-center d-flex flex-column justify-content-around mx-5 mx-auto">
                    <h1 class="text-yellow">¿Tienes un negocio y no sabes como empezar?</h1>
                    <h2 class="text-yellow">Diseña y crea tu plataforma de comercio electronico</h2>
                    <span>
                
                        <button class="mt-5 btn btn-primary btn-sm">Crear tu empresa</button>
                    </span>
                </div>  
            </div>
            <div class="col w-100 h-100 p-0 ">
                <img src="../../../../assets/Landing-Page/Writing.webp" class="w-100 h-100" alt="Writing">
            </div>

        </div>
    </div>
</div>
