<div class="m-5" >  
    <h1 class="text-center"> Nuevo Usuario</h1>

    <i [routerLink]="['../']"  class="backPage fa fa-circle-arrow-left" aria-hidden="true"></i>

    <form class="form mx-auto text-center py-5 bg-body rounder" 
    [formGroup]="myForm" autocomplete="off" (ngSubmit)="save()">
        <div class="row w-50 mx-auto mb-4">
            
            <div class="mb-3 col-md-12 ">
              <span class="form-label">Nombre </span>
              <input type="text"
                class="form-control" formControlName="userName" id="userName" aria-describedby="helpId" placeholder="">
              <span></span>
              <span *ngIf="fieldNotValid('userName')" class="form-label form-text text-danger">El nombre no es valido </span>
            </div>
    
            <div class="mb-3 col-md-12">
              <span class="form-label">Contraseña </span>
              <input type="password" class="form-control" formControlName="password" id="password" placeholder="">
              <span *ngIf="fieldNotValid('password')" class="form-label form-text text-danger">la contraseña no es valido </span>
           
            </div>

            <div class="mb-3 col-12">
              <span class="form-label">Correo</span>
              <input type="email" class="form-control" formControlName="email" id="email" aria-describedby="emailHelpId" placeholder="correo@mail.com">
              <span *ngIf="fieldNotValid('email')" class="form-label form-text text-danger">el correo no es valido </span>
            
            </div>

            <div class="mb-3 col-12">
                <span class="form-label">Tipo: </span>
                <select class="form-select form-select-lg"  formControlName="type" id="type" placeholder="test">
                  <option  value="">Tipo Usuario</option>
                  <option  value="client">Cliente</option>
                  <option value="company">Compañia</option>
                  <option value="admin">Administrador</option>
                </select>
              <span *ngIf="fieldNotValid('type')" class="form-label form-text text-danger">selecione el tipo de usuario </span>
                
            </div>
        </div>
        <button type="submit" class="btn btn-purple" [ngClass]="{'disabled': myForm.invalid}">Guardar Usuario</button>

    </form>
    
</div>

