<div class="main-container">
    <div class="container shop-container">
        <h2 class="title">Carrito de compra</h2>

        <div class="row mt-5">
            <div class="col">
               
            </div>
            <div class="col">
                <p class="fw-bold fs-5">Producto</p>
            </div>
            <div class="col">
              <p class="fw-bold fs-5">Precio</p>
            </div>
            <div class="col">
              <p class="fw-bold fs-5"> Cantidad</p>
            </div>
            <div class="col">
              <p class="fw-bold fs-5">Subtotal</p>
            </div>
            <div class="col">
              <p class="fw-bold fs-5"></p>
            </div>
        </div>
        
        <div class="row my-3" *ngFor="let product of productCart | paginate: { itemsPerPage: 3, currentPage: page };let i = index">
          <hr>
          <div class="col">
            <img [src]="url + product.image" class="product-image mx-2">
          </div>
          <div class="col">
              <p>{{product.name}} </p>
          </div>
          <div class="col">
            <p>{{product.price}}</p>
          </div>
          <div class="col">
            <div class="mb-3">
              
              <div class="d-flex justify-content-center">
                <input type="button" class="border-dark btn rounded-0 rounded-start" min="0"  (click)="decrease(product)" value="-" id="moins"  >
						    <input #quantityInput type="text" class="text-center w-25" size="25" min="0" (change)="change(quantityInput,product)" [(ngModel)]="product.quantity" id="quantity">					
						    <input type="button" class="border-dark btn rounded-0 rounded-end" min="0" (click)="increment(product)" value="+" id="plus" >
              </div>
  	    			
                <label class="form-check-label text-danger" 
               [class.visually-hidden]="validateQuantity(quantityInput)"
                for="quantity">
                    Seleccione un numero mayor a 1
                </label>
            </div>
          
          </div>
          <div class="col mt-3">
            <p>{{product.quantity * product.price}}</p>
          </div>
          <div class="col">
            <button mat-icon-button color="warn">
              <mat-icon (click)="deleteProduct(i)">delete_outline</mat-icon>
            </button>
          </div> 
      </div>

      <div class="row mt-5">
        <div class="col">
           
        </div>
        <div class="col">
            <p class="fw-bold fs-5"></p>
        </div>
        <div class="col">
          <p class="fw-bold fs-5"></p>
        </div>
        <div class="col">
          <p class="fw-bold fs-5"> </p>
        </div>
        <div class="col">
          <p class="fw-bold fs-5">Total: {{total}}</p>
        </div>
        <div class="col">
          <button class="btn btn-outline-primary" 
            [ngClass]="{'disabled': incorrect || productCart.length < 1}"
            (click)="buy()">Comprar</button>
        </div>
    </div>

      <hr>

      <pagination-controls 
      (pageChange)="page = $event" 
      previousLabel="Anterior" 
      nextLabel="Siguiente"
      class="pagination"
      >
</pagination-controls>

        <!-- <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">SubTotal</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let product of products | paginate: { itemsPerPage: 3, currentPage: page }">
                <td> <img [src]="product.image" class="product-image mx-2"></td>
                <td>{{product.name}} </td>
                <td>{{product.price}}</td>
                <td></td>
                <td></td>
                <td>
    
                </td>
              </tr>
            </tbody>
            <tfoot>
              <td></td>
              <td></td>
              <td></td>
              <td>Total: {{total}}</td>
            </tfoot>
            
            <pagination-controls 
            (pageChange)="page = $event" 
            previousLabel="Anterior" 
            nextLabel="Siguiente"
            class="pagination"
            >
      </pagination-controls>
      </table> -->

     

    </div>

</div>