<div class="background background-back ">
    <div class="background background-transparent-black d-flex justify-content-center align-items-center">  
        <form autocomplete="off">
          <div class="form mx-auto  p-3 rounded text-center text-white">
            <div class="col-12">
                <h1 class="fs-2 mb-4">Registro</h1>
                <mat-form-field appearance="legacy" color="accent">
                  <mat-label >Nombre</mat-label>
                  <input matInput placeholder="">
                  <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                  <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
                <mat-form-field appearance="legacy" color="accent">
                  <mat-label >Correo</mat-label>
                  <input matInput placeholder="">
                  <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                  <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
                <mat-form-field appearance="legacy" color="accent">
                  <mat-label >Nombre Empresa</mat-label>
                  <input matInput placeholder="">
                  <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                  <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
                
                <mat-form-field appearance="legacy" color="accent">
                  <mat-label>Plan</mat-label>
                  <mat-select>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let plain of plains" [value]="plain.id">{{plain.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                
                
                <mat-form-field appearance="legacy" color="accent" class="lastInput">
                  <mat-label>Contraseña</mat-label>
                  <input  [type]="hide ? 'password' : 'text'" type="password" matInput formControlName="password2">
                  <mat-icon class="me-2" matPrefix>lock</mat-icon>
                  <button mat-icon-button matSuffix (click)="hide = !hide" type="button" >
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <p>
                  <button type="submit" class="btn btn-purple text-white mt-4">Submit</button>
                </p>
                
                <p class="mt-4">
                  ¿Ya tienes un cuenta? <a style="color:#4F72CD">Inicia Sesion</a>
                </p>
              </div>
          </div>  
      </form>  
     </div>
</div>

