
<div class="m-5" >  
    <h1 class="text-center"> Productos</h1>
    <div class="bg-light rounded">
        <mat-divider class="mb-5"> </mat-divider>
        <div class="d-flex justify-content-center mb-3">
          <span class=" buttonsContainer text-deg-purple-1">
              <button [routerLink]="['../add-product']"><i class="fa fa-light fa-circle-plus"></i></button>
              <button [disabled]="selectedRowIndex == ''" (click)="editProduct()"><i class="fa fa-solid fa-pen-to-square" aria-hidden="true"></i></button>
              <button [disabled]="selectedRowIndex == ''"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </span>
      </div>
    </div>
 
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">

            <ng-container *ngFor="let column of displayedColumns.slice(0,-1)" [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef> {{column | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>

            <ng-container  matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef> Imagen </th>
              <td mat-cell *matCellDef="let element"> 
                <img [src]="productURLBase + element['image']" style="height: 120px; width:120px" alt="">  
              </td>
            </ng-container>

      

            <!-- <mat-slide-toggle [(ngModel)]="isChecked">Slide Toggle Checked: {{isChecked}}</mat-slide-toggle> -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row   *matRowDef="let row; columns: displayedColumns;"
            (click)="selectRow(row)"
            [class.highlight]="selectedRowIndex == row._id"          
            ></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                    
                    showFirstLastButtons 
                    aria-label="Select page of company elements">
          </mat-paginator>
    </div>
</div>